<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
    <header class="grid-header-new">
        <div class="header-logo">
            <img src="../assets/img/logo.png" alt="logo" class="logoImagen">
        </div>                
        <nav class="header-grid-nav">
            <ul class="grid-nav" >
                <li><a class="grid-nav nav-color" href="../index.html">Inicio</a></li>
                <li><a class="grid-nav nav-color" href="../views/servicios.html">Servicios</a></li>
                <li><a class="grid-nav nav-color" href="../views/nosotros.html">Nosotros</a></li>
                <li><a class="grid-nav nav-color" href="../views/contacto.html">Contacto</a></li>
                <li><a class="grid-nav nav-color" href="../views/ubicacion.html">Ubicación</a></li>
            </ul>
        </nav>
    </header>
    <main class="grid-main-servicios">
        <div class="titulo-servicios">
            <h2 class="titulo-servicios-txt">NUESTROS SERVICIOS</h2>
        </div>
        <div class="grid-servicios">
            <div class="grid-unas">
                <h3 class="titulo-unas">UÑAS SEMI</h3>
                <img src="../assets/img/unas2.jpg" alt="" class="img-unas ">
            </div>
            <div class="grid-pestanas">
                <h3 class="titulo-pestanas">PESTAÑAS V RUSO</h3>
                <img src="../assets/img/pestanas2.jpg" alt="" class="img-pestanas ">
            </div>
            <div class="grid-balayage">
                <h3 class="titulo-balayage">BALAYAGE</h3>
                <img src="../assets/img/balayage2.jpg" alt="" class="img-balayage ">
            </div>
        </div>
        <div class="spam">
            <h3 class="spam-titulo">LOS MEJORES SERVICIOS LOS OFRECEMOS NOSOTROS</h3>
        </div>
    </main>

    <footer class="grid-foo">
        <div class="grid-logo-foo">
            <img src="../assets/img/logo.png" alt="" class="logo-foo-principal img-60 center">
            <img src="../assets/img/estetica.png" alt="" class="logo-foo-sub img-60 center">
        </div>
        <div class="grid-rrss-foo">
            <div class="titulo-foo">
                <h3 class="titulo-foo-txt">COMUNICATE CON NUETRAS REDES</h3>
            </div>
            <div class="grid-redes-foo">
                <div class="footer_whatsapp center">
                    <h4 class="font-redes"><a href="https://web.whatsapp.com/">3871297348</a></h4>
                    <img src="../assets/img/whatsapp.png" alt="Whattasp" class="imgRrss w">
                </div>
                <div class="footer_instagram center">
                    <h4 class="font-redes"><a href="https://www.instagram.com/">estetica.bresh</a></h4>
                    <img src="../assets/img/instagram.png" alt="Instagram" class="imgRrss i">
                </div>
                <div class="footer_facebook center">
                    <h4 class="font-redes"><a href="https://www.facebook.com/">Estética Bresh</a></h4>
                    <img src="../assets/img/facebook.png" alt="Facebook" class="imgRrss f">
                </div>
            </div>
        </div>
    
    </footer>

</body>
</html>