<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicacion</title>
    <link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
    <header class="grid-header-new">
        <div class="header-logo">
            <img src="../assets/img/logo.png" alt="logo" class="logoImagen">
        </div>                
        <nav class="header-grid-nav">
            <ul class="grid-nav" >
                <li><a class="grid-nav nav-color" href="../index.html">Inicio</a></li>
                <li><a class="grid-nav nav-color" href="../views/servicios.html">Servicios</a></li>
                <li><a class="grid-nav nav-color" href="../views/nosotros.html">Nosotros</a></li>
                <li><a class="grid-nav nav-color" href="../views/contacto.html">Contacto</a></li>
                <li><a class="grid-nav nav-color" href="../views/ubicacion.html">Ubicación</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-grid-ubicacion">
        <div class="titulo-ubicacion">
            <h2 class="titulo-ubicacion-txt">¿DÓNDE NOS ENCONTRAMOS?</h2>
        </div>
        <div class="direccion-ubicacion">
            <h3 class="direccion-txt">Avenida Siempre Viva 983</h3>
        </div>
        <div class="mapa-ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28741.26607816118!2d-80.15271638313615!3d25.781849002149148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b48e8bc080f1%3A0x7afeece4a9efe6bd!2sSouth%20Beach%2C%20Miami%20Beach%2C%20Florida%2033139%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sar!4v1643145831086!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </main>  
    <footer class="grid-foo">
        <div class="grid-logo-foo">
            <img src="../assets/img/logo.png" alt="" class="logo-foo-principal img-60 center">
            <img src="../assets/img/estetica.png" alt="" class="logo-foo-sub img-60 center">
        </div>
        <div class="grid-rrss-foo">
            <div class="titulo-foo">
                <h3 class="titulo-foo-txt">COMUNICATE CON NUETRAS REDES</h3>
            </div>
            <div class="grid-redes-foo">
                <div class="footer_whatsapp center">
                    <h4 class="font-redes"><a href="https://web.whatsapp.com/">3871297348</a></h4>
                    <img src="../assets/img/whatsapp.png" alt="Whattasp" class="imgRrss w titilar">
                </div>
                <div class="footer_instagram center">
                    <h4 class="font-redes"><a href="https://www.instagram.com/">estetica.bresh</a></h4>
                    <img src="../assets/img/instagram.png" alt="Instagram" class="imgRrss i titilar">
                </div>
                <div class="footer_facebook center">
                    <h4 class="font-redes"><a href="https://www.facebook.com/">Estética Bresh</a></h4>
                    <img src="../assets/img/facebook.png" alt="Facebook" class="imgRrss f titilar">
                </div>
            </div>
        </div>
    
    </footer>
</body>
</html>